/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31.01.2014, 11:35:07
    Author     : mpease
*/
body {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    background-color: #aaa;
    padding: 2%;
    border-radius: 10px;
}

header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    vertical-align: bottom;
}

#headerTitle {
    vertical-align: super;
}

.clear {
    clear: both;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

label {
    float: left;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 0.4em;
    margin-bottom: 0.2em;
}

label .text {
    margin-left: 0.5em;
}

tfoot {
    border-top: 1px solid black;
}
thead {
    border-bottom: 1px solid black;
}

#limit {
    float: right;
    position: relative;
}

.tableLeft {
    text-align: left;
}

.tableRight {
    text-align: right;
}

input[type=number]  {
    width: 3em;
    text-align: center;
}

html {
    background-color: #ddd;
}

#status {
    float: right;
}
#status:before {
    content: "Status: ";
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.colLectures {
    text-align: left;
}

.colID {
    font-weight: bold;
}

#search, #cart {
    padding: 2%;
    margin: 2%;
    border: 1px solid black;
    border-radius: 10px;
}

h2 {
    text-align: center;
}
#cartOptions {
    float: right;
}

form {
    display: block;
}

table tbody {
    counter-reset: sortabletablescope;
}
table thead tr::before {
    content: "";
    display: table-cell;
}

table tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
}

//tbody tr:nth-child(odd) {
//    background-color: #ddd;
//}
tbody tr:nth-child(even) {
    background-color: #ddd;
}

.colDatum {
    min-width: 5em;
    max-width: 5em;
}

#logo {
    width: 2em;
}

#typeSelector {
    float: right;
}

#searchInputs {
    display: inline-block;
}

.searchInput {
    display: block;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #ccc;
}
#searchInputs select {
    width: 4em;
}

#timestampBox {
    float:right;
}

select {
    border: solid 0.1em #888;
    background-color: transparent;
}

input[type="submit"], input[type="button"], button, .button {
    display: inline-block;
    text-align: center;
    background-color: #bbb;
    border-radius: 0.2em;
    cursor: pointer;
    box-shadow: 0.1em 0.1em #888;
    border: none;
    padding: 0.1em 0.2em;
}

.button {
    font-size: 1.2em;
}
input[type="text"], input[type="number"] {
    border-color: #EEE;
    padding: 0 0.2em;
}

.timestamp {
    text-align: center;
    width: 6em;
}

.hidden {
    display: none;
}

#cartNumber {
    width: 50%;
    height: 50%;
    position: fixed;
    left: 25%;
    top: 25%;
    border-radius: 1em;
    background-color: #999;
    box-shadow: 0.3em 0.3em #888;
    text-align: center;
}

#cartid {
    background-color: #ff8000;
    padding: 0.1em;
}

#cartNumberDiv {
    padding: 10%;
    font-size: 2em;
}