.clear{
	clear:both;
}

.left{
	float:left;
}

.right{
	float:right;
}

.description{
	font-size:80%;
	margin-left:0.4em;
}

.button{
	display:inline-block;
	background-color:#ddd;
	border-radius:0.2em;
	cursor:pointer;
	box-shadow: 0.1em 0.1em #888;
	padding:0.1em 0.2em;
}

.button:hover{
	background-color:#ccc;
}

