/* MAIN COLOR SCHEME */
html {
	background-color:#eee;
	background-image:url(../img/dark_matter.png);
}

body {
	background-color:#bbc;
}

/* BODY/CONTENT */
body{
	width:80%;
	margin:auto;
	margin-top:1em;
	border-radius:1em;
	padding:1em;	
	box-shadow:0 0 0.2em 0.1em #999;
}

label{
	display:inline-block;
}

table{
	width:100%;
	border-collapse:collapse;
}

#content{
	margin-top:2em;
}

#select-mode{
	border-radius:0.3em;
	color:#333;
	background-color:#fff;
	border:0.1em solid #33a;
}

.content-box{
	padding:2em;
	margin:2em;
	border:1px solid #000;
	border-radius:1em;
}

/* HEADER */
header{
	text-align:center;
}

#head-static{
	float:left;
	display:block;
}

#head-static * {
	margin:0;
	text-align:left;
	vertical-align:center;
}

#sw-head-logo{
	width:5em;
	float:left;
}

#sw-head-text{
	display:inline-block;
	padding-left:0.5em;
}

#sw-head-text h3{
	color:#666;
}

#sw-head-text h1{
	color:#333;
}

#select-mode{
	vertical-align:bottom;
	display:inline-block;
	float:right;
}

