/* 
    Created on : 31.01.2014, 11:35:07
    Author     : mpease
*/

.clear{
	clear:both;
}

table{
	width:100%;
}

label {
    float: left;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 0.4em;
    margin-bottom: 0.2em;
}

label .text {
    margin-left: 0.5em;
}

tfoot {
    border-top: 1px solid black;
}
thead {
    border-bottom: 1px solid black;
}

#limit {
    float: right;
    position: relative;
}

.tableLeft {
    text-align: left;
}

.tableRight {
    text-align: right;
}

input[type=number]  {
    width: 3em;
    text-align: center;
}


#status {
    float: right;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.colLectures {
    text-align: left;
}

.colID {
    font-weight: bold;
}

#search, #cart {
    padding: 2%;
    margin: 2%;
    border: 1px solid black;
    border-radius: 10px;
}

h2 {
    text-align: center;
}
#cartOptions {
    float: right;
}

form {
    display: block;
}

table tbody {
    counter-reset: sortabletablescope;
}
table thead tr::before {
    content: "";
    display: table-cell;
}

table tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
}

//tbody tr:nth-child(odd) {
//    background-color: #ddd;
//}
tbody tr:nth-child(even) {
 background-color: #ddd;
}

.colDatum {
    min-width: 5em;
    max-width: 5em;
}

#typeSelector {
    float: right;
}

#searchInputs {
    display: inline-block;
}

.searchInput {
    display: block;
}

#searchInputs select {
    width: 4em;
}

#timestampBox {
    float:right;
}

select {
    border: solid 0.1em #888;
    background-color: transparent;
}


input[type="text"], input[type="number"] {
    border-color: #EEE;
    padding: 0 0.2em;
}

.timestamp {
    text-align: center;
    width: 6em;
}

.hidden {
    display: none;
}

#cartNumber {
    width: 50%;
    //height: 50%;
    position: fixed;
    left: 25%;
    top: 25%;
    border-radius: 1em;
    background-color: #999;
    box-shadow: 0.3em 0.3em #888;
    text-align: center;
    z-index: 1000;
}

#cartid {
    background-color: #ff8000;
    padding: 0.1em;
}

#cartNumberDiv {
    padding: 10%;
    font-size: 2em;
    background-color: #ccc;
    //box-shadow: 0.2em 0.2em #bbb;
    border-radius: 1em;
    margin: 0 auto;
    display: inline-block;
}

#agb {
    border: 1px solid black;
    text-align: justify;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
}

.center {
    text-align: center;
    width: 100%;
    display:inline-block;
}

.title {
    font-size: 4em;
}

#closeButton {
    font-size: 1.4em;
}

#black {
    position: fixed;
    background-color: #333;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
